@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,100..900;1,100..900&family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,100..900;1,100..900&family=Fredoka:wght@300..700&family=Luckiest+Guy&display=swap');

html, body {
  height: 100%;
  margin: 0;
  padding: 24px;
  display: grid;
  place-items: center;
  font-family: "Luckiest Guy", cursive;
  color: #e6e8ff;
  /* background: rgb(111, 21, 70) ;  */
  /* background: #0e1a38;  */
    

  background: #101327; 
}



#game-title {
  /* font-size: 30px; */
  /* font-weight: 800; */
  letter-spacing: 1px;
  margin-bottom: 10px;
  color: #ffffff; 
  text-align: center;
}

#hint {
  font-size: 30px;
 color:  white;
   font-family: "Fredoka", sans-serif;
  text-align: center;

}

/* form */
form {
  display: flex;
  gap: 15px;
  align-items: center;
   font-family: "Fredoka", sans-serif;
    font-size: 20px;
}

label {
  color: #ffffff; 
}

#myText {
  height: 50px;
  width: 20px;
  padding: 0 20px;
  color: #fdfdfd;
  /* background: #0e1327; */
  background: rgba(125, 211, 252, 0.5); 
  border: 3px dashed #7dd3fc;
  border-radius: 10px;
  outline: none;
  font-size: 25px; 
  text-align: center; 
  font-family:  "Fredoka", sans-serif;
}



#myButton {
  height: 45px;
  padding: 0 16px;
  cursor: pointer;
  border-radius: 10px;
  border: 1px solid #101327;
  background: #7dd3fc ;
  color: #101327; 
font-family: "Luckiest Guy", cursive;
font-size: 15px; 
}


.slots {
  display: grid;
  grid-template-columns: repeat(5, 50px); 
  gap: 10px;
  border: 2px solid white;
  border-radius: 14px;
  padding: 12px;
}

.output {
  height: 60px;
  display: grid;
  place-items: center;
  border-radius: 12px; 
  font-size: 30px;
  /* background: rgba(125, 211, 252, 0.5);  */
  /* border: 3px dashed #7dd3fc; */
  color: #111827;
}

/* correct letter  */
.output.revealed {
  color: #e6e8ff;
    border: 3px dashed #7dd3fc;
  background: rgba(125, 211, 252, 0.5); ;
}

/* incorrect & correct msgs */


#incorrect.error {
  color: #ff0000;
  font-size: 20px;
} 

 #incorrect.success {
  color: #00ff5e;
    font-size: 20px;
} 
